.idea/
**/__pycache__/
**/glsm/
build/
cores/output/
cores/src/
other/DinguxCommander/output/
private/
releases/
src/boot/output/

*.[od]
*.dll
*.dtb
*.dylib
*.elf
*.exe
*.o
*.so
*.zip

.build
.DS_Store
rg35xx-toolchain.tar.xz
